RewriteEngine On
RewriteRule ^reviews$ https://www.google.com/search?q=google+reviews+teddy+bear+pediatrics&num=10&sca_esv=fe61933c7c9ee466&rlz=1C1JZAP_enUS1152US1152&sxsrf=AHTn8zpVHesLJMSDa7AnWdAxbCke3TG2GQ%3A1741130007888&ei=F4nHZ5T0Nfm0wN4P-5SeyQw&ved=0ahUKEwjU24LdxvGLAxV5GtAFHXuKJ8kQ4dUDCBA&uact=5&oq=google+reviews+teddy+bear+pediatrics&gs_lp=Egxnd3Mtd2l6LXNlcnAiJGdvb2dsZSByZXZpZXdzIHRlZGR5IGJlYXIgcGVkaWF0cmljczIIECEYoAEYwwQyCBAhGKABGMMESK4VUL8OWL8OcAJ4AJABAJgBc6ABc6oBAzAuMbgBA8gBAPgBAZgCA6ACfcICCBAAGLADGO8FwgILEAAYgAQYsAMYogSYAwCIBgGQBgWSBwMyLjGgB-AD&sclient=gws-wiz-serp&lqi=#lkt=LocalPoiReviews&lrd=0x865b2d80b2056857:0x891f052403e05dab,3,,,,&rlimm=9880621759716154795 [R=301,L]